<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      QR Code
      <p class="backBtn" (click)="back()">back</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'display': scanning ? 'none' : '' }">


  


  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode 
        [qrdata]="qrCodeString" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </ion-card-content>
    
  </ion-card>

  <div *ngIf="scannedResult" style="padding: 20px 0px;">
    <h5 class="textHeader">Scaned Result:</h5>
    <p class="textContent">{{scannedResult}}</p>
  </div>

  <div *ngIf="!scannedResult" style="padding: 20px 0px;">
    <p class="textContent">Please click the button below to scan the QR code.</p>
  </div>

  <div>
    <ion-button expand="block" class="ion-margin" (click)="startScan()"> Scan QR Code </ion-button>
  </div>


</ion-content>
